* {
    background-color: black;
}

 .header {
    border: 3px solid #665544;
    padding: 30px;
    color: white;
    font-size: 55px;
    text-align: center;
} 

.almond {
    padding: 20px;
    font-size: 28px;
    background-color: red;
    border: 5px solid white;
    text-align: center;
    margin: 20px;
}

.potato {
    margin: 40px;
    font-size: 30px;
    background-color: gray;
    border: 5px solid rgb(115, 65, 195);
}
