.title {
    background-color: purple;
    font-family:'Courier New', Courier, monospace;
    color:aliceblue;
}

.list > * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: burlywood;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250;
    width: 500;
}